EXPO_PUBLIC_CLIENT_ID=id
EXPO_PUBLIC_CLIENT_SECRET=secret
EXPO_PUBLIC_API_URL=https://www.strava.com/api/v3/
EXPO_PUBLIC_AUTH_URL=https://www.strava.com/oauth/authorize
EXPO_PUBLIC_TOKEN_URL=https://www.strava.com/oauth/token